.footer {
  margin-top: 66px;
  .footer-in {
    margin-top: 0px;
    .footer-left-bottom .txt-box1 {
      font-size: 11px !important;
    }
    .footer-left-bottom .txt-box2 {
      font-size: 10px !important;
    }
  }
}
.footer-right-top {
  display: none;
  & img {
    display: none;
  }
}
.footer-right-bottom {
  width: 20px !important;
  flex-direction: column;
  margin-top: 65px;
}
