.footer {
  margin-top: 66px;
  .footer-right-top {
    display: none;
    & img {
      display: none;
    }
  }
  .footer-right-bottom {
    flex-direction: column;
    margin-top: 65px;
  }
  .footer-left-top {
    margin-left: 60px;
  }

  .footer-left-bottom .txt-box1 {
    margin-left: 60px;
  }
}
.footer-right {
  margin-left: 70px;
}
