.header {
  height: 121px;
  top: 29px;
}

.burgur {
  display: block;
}
.search-box2 {
  display: block;
  /* width: 227px; */
  max-width: 200px;
  height: 37px;
  border-bottom: 1px solid;
  border-color: var(--gray);

  & form {
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    & input {
      background-color: transparent;
      border: unset;
      outline: unset;
    }
  }
}
.loc,
.product,
.shop,
.about-us,
.search-box {
  display: none;
}
.in-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: calc(100% - 100px);
}

.left-header {
  gap: 20px;
  justify-self: start;
}

.center-header {
  margin-left: 0px;
  justify-self: center;
  & img {
    width: 269px;
    height: 116px;
  }
}
.right-header{
    justify-self: end;
}